## **1. 파이썬 컬렉션**
1. 컬렉션 타입 소개
2. 리스트

### <strong>1. 컬렉션 타입 소개</strong>
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [1]:
# [+] Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3,4) # Tuple 예: 좌표
print(coordinate[0])

coordinate[0] # 셀 마지막 문장 실행 결과는 print() 상관없이 출력

3

3

In [2]:
# [+] Tuple은 값 변경이 불가능하다(immutable).
coordinate[0] = 4

TypeError: 'tuple' object does not support item assignment

In [3]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Hyun Ahn"
print(name)

Hyun Ahn

In [4]:
# [+] String도 역시 immutable
name[5:] = "Kim"

TypeError: 'str' object does not support item assignment

In [5]:
# [+] List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ["Hyun Ahn", 37, "Hanshin University", False] # list 예: 개인정보
print(my_info_lst)

['Hyun Ahn', 37, 'Hanshin University', False]

In [6]:
# [+] List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[1] = 38 # 수정
my_info_lst.append("Anyang-si") # 추가
my_info_lst.remove(False) # 삭제
my_info_lst

['Hyun Ahn', 38, 'Hanshin University', 'Anyang-si']

In [8]:
# [+] Set 선언 방식: set(List 객체)
my_info_set = set(my_info_lst)
print(my_info_set)

{'Hyun Ahn', 'Hanshin University', 38, 'Anyang-si'}

In [9]:
# [+] Set은 중복 허용하지 않고, 순서가 없다.
my_info_set.add("Hyun Ahn")
my_info_set

{38, 'Anyang-si', 'Hanshin University', 'Hyun Ahn'}

In [10]:
# [+] Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}

hsu_dict = {
    'name' : 'Hanshin University',
    'establishment year' : 1940,
    'public|private' : 'private'}
print(hsu_dict)

{'name': 'Hanshin University', 'establishment year': 1940, 'public|private': 'private'}

In [11]:
# [+] Dictionary 값 추가
hsu_dict['num. of enrolled students'] = 7588
print(hsu_dict)

{'name': 'Hanshin University', 'establishment year': 1940, 'public|private': 'private', 'num. of enrolled students': 7588}

### <strong>2. 리스트</strong>

In [12]:
# [+] 리스트 선언
primes = [2, 3, 5, 7, 11]
primes

[2, 3, 5, 7, 11]

In [13]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 1.4, True]
mixed

['Jenny', 1, 1.4, True]

In [14]:
# 다차원 리스트
list_of_lists = [['a', 1], ['b', 2]]
list_of_lists

[['a', 1], ['b', 2]]

In [15]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0]) # first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [16]:
# Negative indexing
print(names[-1]) # last data
print(names[-2]) # second to last data
print(names[-3]) # third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [17]:
# [+] 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] # [장공관, 필헌관, 소통관] 선택

print(building_slice)

['장공관', '필헌관', '소통관']

In [18]:
# [+] 슬라이스 값 수정
building_slice[0] = '생활관'
print(building_slice)
print(hsu_buildings)

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [19]:
# 다차원 리스트
restaurants = [['해우리', '한식', '고S'], ['효자동설렁탕', '한식', '양곰탕'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

restaurants

[['해우리', '한식', '고S'],
 ['효자동설렁탕', '한식', '양곰탕'],
 ['찌개동아리', '한식', '제육전골'],
 ['몽상', '양식', '매운크림리조또']]

In [20]:
# [+] 리스트 수정 
# 해우리의 대표 메뉴를 '고S'에서 '해우라면'으로 수정
restaurants[0][2] = '해우라면'
restaurants[0]
restaurants[2][2] = '치킨'
restaurants[2]

['찌개동아리', '한식', '치킨']

In [21]:
# [+] 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
total_items

['cake', 'cookie', 'bread', 'biscuit', 'tart']

#### <strong>리스트에서 제공하는 메소드들</strong>

In [22]:
# [+] len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
size

5

In [23]:
# [+] append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')
orders

['daisies', 'periwinkle', 'tulips']

In [24]:
# [+] insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2,"Victor")
store_line

['Karla', 'Maxium', 'Victor', 'Martin', 'Isabella']

In [25]:
# [+] sort()
numbers = [4, 2, 1, 3]
numbers.sort()
numbers

[1, 2, 3, 4]

In [26]:
# [+] sorted()
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
sorted_hsu_buildings = sorted(hsu_buildings)
print(sorted_hsu_buildings)

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']